---
name: main
layout: body
---
<main id="app" class="_app __fadein">
  <div id="layout" class="container-lg px-3 markdown-body">
    <header id="header">{% include header.html %}</header>
    <article id="article">{{ content }}</article>
    <footer id="footer">{% include footer.html %}</footer>
  </div>
</main>
<script src="{{ site.github.url }}/assets/main/js/script.js?v{{ site.github.build_revision }}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
<script>anchors.add();</script>
